* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
}
.square {
  cursor: pointer;
  margin: 3px;
  width: 22px;
  height: 22px;
  background:   `;
  box-shadow: rgb(0, 0, 0) 0px 0px 2px;
  transition: 1s ease;
}

.square:hover {
  transition-duration: 0s;
}

.button {
  margin-top: 20px;
  text-align: center;
}
.btn {
  width: 100px;
  height: 30px;
  background: darkgray;
  color: black;
  border: none;
  margin-left: 5px;
}
.btn1 {
  width: 100px;
  height: 30px;
  background: darkgray;
  color: black;
  border: none;
  margin-left: 5px;
}
